<p id="notice"><%= notice %></p>

<p>
  <strong>Discussion:</strong>
  <%= @position.discussion %>
</p>

<p>
  <strong>Email:</strong>
  <%= @position.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @position.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @position.body %>
</p>

<p>
  <strong>Score:</strong>
  <%= @position.score %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
