<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<div class="caption">
			<h3> <%=discussion.header%></h3>
			<p><b>Type:</b> <%=discussion.type.name%></p>
			<p><b>Topic:</b> <%=discussion.topic.name%></p>
			<p><%=simple_format(discussion.body)%></p>
		 </div>
		<div class="caption footer">
			<p>
				<span><%=votable_tag(discussion)%></span> | <span><%=link_to "What do you think?", discussion, class:"btn btn-primary", role:"button"%></span>
			</p>
		</div>
		<%= commentable_tag(discussion) %>
	</div>
	
</div>