<div class="article">

  <%= render partial: 'discussions/content', locals: {discussion: @discussion} %>

	<div class="content">
		<h3 class="center">
			Positions:
		</h3>
		<div class="container-fluid">
			<%@positions.each_slice(2) do |row|%>
			<div class="row">
				<%= render row%>
			</div>
			<%end%>

		</div>
    <hr>

    <%= commentable_tag @discussion if @discussion.published?%>
	</div>
	<%if editable? @discussion%>
    <div class="footer">
      <h3>Add position:</h3>
      <div class="row">
        <%= render position = @discussion.positions.new(user: @discussion.user) unless @discussion.published? %>
      </div>
      <hr>
      <%= render partial: "look_for_user"%>
      <%= render partial: "generate_token"%>
      <%= render partial: "publish", locals: {discussion: @discussion}%>
    </div>
  <%end%>

</div>
