<div class="article">
	<div class="header">
		<center><h1><%=@discussion.header%></h1>
		<p><ul><li><%=@discussion.type.name%></li><li><%=@discussion.topic.name%></li></ul> </p>
		<p>By user: <%=link_to_user(@discussion.user)%> | Score: <b><%=@discussion.score.to_i%></b>
		    | <%=if owns?(@discussion) then link_to 'Edit', edit_discussion_path(@discussion) end%></p>
		</center>
	</div>
	<div class="content">
		<p><%=simple_format(@discussion.body)%></p>
		<h3><center>Positions:</center></h3>
		<div class="container">
			<%@index=1%>
			<%@discussion.positions.each_slice(2) do |row|%>
			<div class="row">
				<%=render partial:'position', collection: row%>
			</div>
			<%end%>
		</div>
	</div>
	<div class="footer">
		<%if editable? @discussion%>
		<%=render partial:"look_for_user"%>
		<%end%>
	</div>
</div>

<%= link_to 'Back', discussions_path %>
