<% submit ||= "Comment"%>
<% hidden ||= false %>
<% reply_to_string = reply_to.class.name+"_"+reply_to.id.to_s %>
<div class="reply_to" id="reply_to_<%= reply_to_string %>" <%if hidden%> style="display:none;" <%end%>>
	<%= form_for [reply_to, Comment.new], remote: true, html:{id:"form_reply_"+reply_to_string} do |f|%>
	<%= f.label :body,  'Comment:'%>
	<br>
	<%=f.text_area :body, style: "width:100%", id: "body_reply_"+reply_to_string%>
	<%=f.submit submit, class: "center"%>
	<% end %>
</div>
