<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <p><b>By</b> <%=position.get_name(index, @user)%></p>
    <p><%=simple_format(position.body)%></p>
    <div class="caption footer">
      <p>
				<span>
				 <%=votable_tag(position) unless position.new?%>
          <%if owns?(@discussion)%>
           <%= link_to 'Delete', position, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
           <hr>
           This position is private. Only you and the invited user can see it.
				 <%end%>
				</span>
      </p>
      <%= commentable_tag(position) unless position.new? %>
    </div>
  </div>
</div>